.gradient {
  background: #000000;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(58, 58, 61, 1) 87%
  );
}
body {
  font-family: "Circular";
}

.hover-white:hover {
  color: white !important; /* testo bianco /
  transition: color 0.3s ease;     / effetto fluido */
}

.imgAlbum {
  width: 180px;
  height: 180px;
}

.bg-div-centrale {
  background: #000000;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(48, 48, 48, 1) 100%
  );
}

.maxWidth {
  width: 200px !important;
}
